.ui.header
  .contain
    .left
      .logo Oral-B<sup>®</sup> Black 7000
    .right.ui.menu
      a.item(href="#overview") Overview
      a.item(href="#features") Features
      a.item(href="#reviews") Reviews
      a.item.cta(href="http://il.ly") Purchase Now
.ui.header.under
  .contain
    .left
      .logo Oral-B<sup>®</sup> Black 7000
    .right.ui.menu
      a.item(href="#overview") Overview
      a.item(href="#features") Features
      a.item(href="#reviews") Reviews
      a.item.cta(href="http://il.ly") Purchase Now