.ui.header
  .contain
    .left
      img.logo(src="img/logo.png", alt="oral-b braun")
      a.product(href="/") Black 7000
    .right.ui.menu
      a.item(href="#overview") Overview
      a.item(href="#features") Features
      a.item(href="#reviews") Reviews
      a.item.cta(href="http://il.ly") Purchase Now
.ui.header.under
  .contain
    .left
      img.logo(src="img/logo.png" alt="oral-b braun")
      a.product(href="/") Black 7000
    .right.ui.menu
      a.item(href="#overview") Overview
      a.item(href="#features") Features
      a.item(href="#reviews") Reviews
      a.item.cta(href="http://il.ly") Purchase Now