extends layout
block head
  - var title = "Oral-B® Black 7000 Electric Toothbrush with SmartGuide";
  - var description = "Oral-B® Black 7000 Electric Toothbrush with SmartGuide";
block content
  a(name="overview")
  .ui.section
    .contain
      h1.ui.title.large Oral-B<sup>®</sup> Black 7000
      h2.ui.title.huge Designed by Braun, <br>it truly is engineered to perform
      p.lead It’s what happens when German engineers have a zero tolerance for plaque. It accelerates to top speed faster than a high performance sports car. Seven independent functions. Up to 800 brush movements per second.

  .ui.section.image
    .contain
      .left
        .ui.block
          h3.ui.title.medium Pressure-Sensor
          h4.ui.title.small Sophisticated pressure-sensor technology alerts you if you’re brushing too hard and automatically decelerates the pulsation and oscillation speeds of the brush head.
        .ui.block
          h3.ui.title.medium Wireless SmartGuide
          h4.ui.title.small Wireless SmartGuide gives you real-time information about brushing modes, times and areas.
        .ui.block.small
          h3.ui.title.medium Braun Design
          h4.ui.title.small Designed by the engineers at Braun, it removes up to 100% more plaque than a regular manual brush.
        .ui.block.small
          h3.ui.title.medium Top Brand
          h4.ui.title.small Oral-B is the #1 dentist-recommended toothbrush brand worldwide.
      .center
        img(src="img/OralB_Black_Brush.jpg")
      .right
        .ui.block
          h3.ui.title.medium Brushing Modes
          h4.ui.title.small Six High-Performance Brushing Modes: Daily Clean, Deep Clean, Whitening, Massage, Sensitive and Tongue Cleaning.
        .ui.block
          h3.ui.title.medium Water Tolerant
          h4.ui.title.small Specially designed seals and gaskets keep the Oral-B Black water tolerant to <b>500 millibars</b> of pressure.
        .ui.block
          h3.ui.title.medium High-Tech Materials
          h4.ui.title.small Made of different high-tech materials like silicon, the black travel case protects all of its vital technology.

  .ui.features
    .contain
      .left
        img(src="img/family.jpg")
      .right
        h1.ui.title Features
        .feature A SmartGuide for personalized Oral Care coaching
          .description The Oral-B Wireless SmartGuide provides real-time guidance to help you brush the way dentists recommend. Its quadrant guides help you brush for the recommended 2 minutes (3 minutes with Deep Clean Mode). The SmartGuide is even wall mountable for your convenience.
        .feature Daily Clean Mode with 3D Movement
        .feature Gum Care Pressure Sensor
        .feature Sensitive Mode
        .feature Whitening Mode
        .feature Massage Mode
        .feature Deep Clean Mode
        .feature Tongue Cleaner Mode
        .feature Exclusive Premium Travel Case