extends layout
block head
  - var title = "Oral-B® Black 7000 Electric Toothbrush with SmartGuide";
  - var description = "Oral-B® Black 7000 Electric Toothbrush with SmartGuide";
block content
  a(name="features")
  .ui.section.two.image
    .contain
      .left
        .ui.block.wow.fadeInUp
          h3.ui.title.medium Pressure-Sensor
          h4.ui.title.small Sophisticated pressure-sensor technology alerts you if you’re brushing too hard and automatically decelerates the pulsation and oscillation speeds of the brush head.
        .ui.block.wow.fadeInUp
          h3.ui.title.medium Wireless SmartGuide
          h4.ui.title.small Wireless SmartGuide gives you real-time information about brushing modes, times and areas.
        .ui.block.small.wow.fadeInUp
          h3.ui.title.medium Braun Design
          h4.ui.title.small Designed by the engineers at Braun, it removes up to 100% more plaque than a regular manual brush.
        .ui.block.small.wow.fadeInUp
          h3.ui.title.medium Top Brand
          h4.ui.title.small Oral-B is the #1 dentist-recommended toothbrush brand worldwide.
      .center
        img(src="img/long.jpg")
      .right
        .ui.block.wow.fadeInUp.first
          h3.ui.title.medium Brushing Modes
          h4.ui.title.small Six High-Performance Brushing Modes: Daily Clean, Deep Clean, Whitening, Massage, Sensitive and Tongue Cleaning.
        .ui.block.wow.fadeInUp
          h3.ui.title.medium Water Tolerant
          h4.ui.title.small Specially designed seals and gaskets keep the Oral-B Black water tolerant to <b>500 millibars</b> of pressure.
        .ui.block.wow.fadeInUp
          h3.ui.title.medium High-Tech Materials
          h4.ui.title.small Made of different high-tech materials like silicon, the black travel case protects all of its vital technology.

  .ui.features.wow.fadeInUp
    .contain
      .left
        h1.ui.title Features
        .feature A SmartGuide for personalized Oral Care coaching
          .description The Oral-B Wireless SmartGuide provides real-time guidance to help you brush the way dentists recommend. Its quadrant guides help you brush for the recommended 2 minutes (3 minutes with Deep Clean Mode). The SmartGuide is even wall mountable for your convenience.
        ul.ui.list
          li.item Daily Clean Mode with 3D Movement
          li.item Gum Care Pressure Sensor
          li.item Sensitive Mode
          li.item Whitening Mode
          li.item Massage Mode
          li.item Deep Clean Mode
          li.item Tongue Cleaner Mode
          li.item Exclusive Premium Travel Case
      .right
        img(src="img/family.jpg")

  .ui.features.wow.fadeInUp
    .contain
      .left.move
        img(src="img/case.jpg").crop
      .right.top
        .feature Handle colors:
          .description Black and Galvanized
        .feature Brush head type:
          .description Compatible with Oral-B Floss Action, White, Precision Clean, Sensitive Clean, Dual Clean, Power Tip, and Ortho brush heads
        .feature Series:
          .description Professional Care
        .feature Model:
          .description 7000
        .feature Electric source:
          .description Rechargeable battery
        .feature Battery life:
          .description Up to 10 days
        .feature Included in pack:
          .description
            ul
              li Rechargeable Toothbrush Handle
              li Charging Station with Brush Head Storage
              li Wireless SmartGuide
              li Handle Travel Case
              li Charger Travel Pouch
              li 4 Refill Heads: 3D White, Sensitive, (2)Floss Action

  a(name="reviews")
  .ui.section
    .ui.reviews.contain.wow.fadeInUp